.footer-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-top: 0px;
  padding-top: 0px;
}

.copyright-text {
  color: white;
  text-align: center;
}
.socialIcon {
  padding-left: 20px;
  width: 150px;
  height: 150px;
}
